@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
}

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
	--primary: ;
	--secondary: ;
	--primary-bg: ;
	--secondary-bg: ;
	--primary-text: ;
	--secondary-text: ;
}

/* title animation */

.typing-effect {
	white-space: nowrap;
	overflow: hidden;
	border-right: 3px solid;
	animation: typing 2s steps(10) forwards;
}

.caption {
	animation: fade-in 2s;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	90% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
@keyframes typing {
	from {
		width: 0;
		opacity: 0;
	}
	to {
		width: 100%;
		opacity: 1;
	}
}

.typing-effect::after {
	content: "|";
	animation: cursor 1s infinite;
}

@keyframes cursor {
	from,
	to {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
}

.text-anim {
	animation: text-anim ease-in-out 1s;
}

@keyframes text-anim {
	0% {
		transform: translateY(-500px);
	}

	90% {
		transform: translateY(10px);
	}

	100% {
		transform: translateY(0px);
	}
}
